{% extends "layout.html" %}
{% block body %}
<div class="container wrapper">

  	<h1> Add New Barter Item</h1>

  	<form name ="insert item" action="{{url_for('insert_item', id=user)}}" method="POST">
  	Item Name: <input type="text" name="name"><br>
  	Description: <input type="text" name="description"><br>
  	<select name="type" id="type">
  		<option> Choose one </option>
  		<option value="1">Goods</option>
  		<option value ="2">Services</option>
  	</select>
  	<select name="category" id="cats">
  	</select>
  	<input type="submit" class="btn" value="submit">
  </form>
 <script> 
 // pipe "cats" from server to the page - safe means the thing is "safe" to put on the page, no escaping/url needed
var categories = {{cats|safe}}; 
 // search DOM for element with id "type" & sets it as a variable 
var typeSelect = document.getElementById('type');

// add event listener to typeSelect to do a function when it detects a change
typeSelect.addEventListener("change", function() { 
	// searches DOM & assigns element "cats" to variable
	var catSelect = document.getElementById('cats');
	// initialize variable as empty
	catSelect.innerHTML = "";
	// iterator for all cats in categories
	for (var i = 0; i < categories.length; i++) {
		//match cats drop-down to whichever cat type is selected:
		j = typeSelect.selectedIndex;  // what option is selected
		o = typeSelect.options[j];
		o.value;


		if (categories[i].cat_type == typeSelect.options[typeSelect.selectedIndex].value) {
		// create an element: option tag "option"
			var option = document.createElement("option");
		// set the value inside the option tag to the name of each cat
			option.innerHTML = categories[i].name
		//set the option value = cat id
			option.value = categories[i].id
		// append the whole option to the catSelect element		
			catSelect.appendChild(option);
	} }

}, true);

 </script>
</div>
{% endblock %}