{% extends "layout.html" %}
{% block body %}
<div class="container">

		<h1>{{ title }}"{{ search_term }}"</h1>

		<table>
		<tr>
			<td>
				<strong>
					Name
				</strong>
			</td>
			<td>
				<strong>
					Description
				</strong>
			</td>
			{% if title=="All items matching " %}
			<td>
				<strong>
					Category
				</strong>
			</td>
			{% endif %}
			<td>
				<strong>
					User
				</strong>
			</td>
			<td>
			</td>
		</tr>
		{% for item in items %}
			<tr>	
				<td>
					{{ item.name }}
				</td>
				<td>
					{{ item.description }}
				</td>
				{% if title=="All items matching " %}
				<td>
					{{ item.category.name }}
				</td>
				{% endif %}

				<td>
					<a href="/display_user/{{ item.user.id }}">
					{{ item.user.first_name }} 
					{{ item.user.last_name }}
				</td> 
				<td>
					<a href="/open_request?item={{ item.id }}" class = "btn">
					Trade
					</a>
				</td>
			</tr>
		{% endfor %}

	</table>

{% endblock %}