  	{% extends "layout.html" %}
  	{% block body %}
	<div class="container wrapper">

		<h1>Welcome to Barter Professional, {{ user.first_name }}!</h1>

			
			<h2> What do you want to do? </h2>
			<br>
				<h3><ul>
					<a href="{{url_for('view_categories', id=user_id)}}"> 		Search for Stuff to Trade
						<br> by Business Name, Item or Category

					</a>
					<br>
					<br>	
					<a href="{{url_for('manage_items', id=user_id)}}"> 
						Manage My Items
					</a>
						<br>
						<br>
					<a href="{{url_for('manage_account', id=user_id)}}">		Account Settings
					</a>
				</h3>
					
	</div>
	{% endblock %}