  	{% extends "layout.html" %}
  	{% block body %}

		<h1>Welcome to Barter Pro, {{ user.first_name }}!</h1>

			
			<h2> What do you want to do? </h2>
			<br>
				<h3><ul>
					<a href="{{url_for('view_categories', id=g.user.id)}}"> 		Find Stuff to Trade
					</a>
					<br>
					<br>	
					<a href="{{url_for('manage_items', id=g.user.id)}}"> 
						Manage My Items
					</a>
						<br>
						<br>
					<a href="{{url_for('trade_history', id=g.user.id)}}">		
						My Trade History
					</a>
				</h3>

	{% endblock %}