
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Barter Pro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Barter Professional, where businesses come to trade their awesome stuff for other awesome stuff">
    <meta name="author" content="Jessica Lattif">

    <!-- Le styles -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/bootstrap/css/main.css" type="text/css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.css" type="text/css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/bootstrap/jso/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/bootstrap/jso/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/bootstrap/jso/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="static/bootstrap/jso/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="static/bootstrap/jso/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </button>
          <a class="brand" href="/">Barter Pro</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/home">Home</a></li>
              {% if g.user %}
              <li><a href="/my_account">{{ g.user.first_name }}'s Account </a>
              </li>
              {% endif %}
                  <li><a href="/view_categories">Find Stuff</a></li>
                  <li><a href="/find_users">Find People</a></li>
                  <li><a href="/manage_trades">Manage Trades</a></li>
            </ul>

            {% if not g.user %}
            <form name="login" action="/authenticate" method="POST" class="navbar-form pull-right">
              <input class="span2" type="text" name="email" placeholder="Email">
              <input class="span2" type="password" name="password" placeholder="Password">
              <button type ="submit" value="sign in" class="btn" >Sign in
            </form>
            {% else %}
              <div>
                <a href="{{url_for('log_out')}}" class="btn"> 
                  Log out
                </a>
              </div>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="row-fluid">
  <div class="span8">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
      </div>

 
  <div class="span4 sidebar">
  {% if g.notifications %}
    <div class="alert clearfix alert-info">
      {% for note in g.notifications %}
        <p><strong> 
           {{ note.trade.participants[0].user.first_name }} wants to trade {{ note.trade.participants[0].item.name }} for {{ note.trade.participants[1].item.name }} 
        </p></strong>
    </div> <!-- this closes alert div -->
  </div> <!-- this closes sidebar div -->
  {% endfor %}
{% endif %}


    {% block body %}
    <p>
    </p>
    {% endblock %}

      <footer>
        <p>&copy; Barter Pro 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/bootstrap/js/jquery.js"></script>
    <script src="static/bootstrap/js/bootstrap.js"></script>

  </body>
</html>
