{% extends "layout.html" %}
{% block body %}
<div class="container wrapper">

<h1> New User Account</h1>
 <br>
 <br>
  <h2>
    Sign up to begin bartering:
    <br>
    <br>
      <form method="POST" action="/save_new_user">
  	   First Name: 
        <input type = "text" name="first_name">
  	   Last Name: 
        <input type = "text" name="last_name">
        <br>
  	   Email: 
        <input type ="text" name="email">
        <br>
  	   Password: 
        <input type ="password" name="password">
        <br>
  	   Business Name: 
        <input type ="text" name="biz_name">
  	   Business Website: 
        <input type = "text" name="website">
        <br>
  	   Zipcode: 
       <input type="text" name="zipcode">
       <br>
	       <input type ="submit" value="submit">
      </form>
</div>
{% endblock %}