{% extends "layout.html" %}
{% block body %}
<h2>
	{{ g.user.first_name }}'s Trade History
</h2>

<table class="table">
	<tr>
		<td>
			<strong>
				Date
			</strong>
		</td>
		<td>
			<strong>
				You Traded
				<br>
				<small>Item/Amount</small>
			</strong>
		</td>
		<td>
			<strong>
				With
			</strong>
		</td>
		<td>
			<strong>
				For
				<br>
				<small>Item/Amount</small>
			</strong>
		</td>
		<td>
			<strong>
				Still Active?
			</strong>
		</td>
		<td>
			<strong>
			</strong>
		</td>
		</tr>

		{% for trade in participants %}
		<tr>
			<td>
				{{ trade.trade.open_date }}
			</td>
			<td>
				{{ trade.trade.participants[1].total_qty}} {{ trade.item.name }}
			</td>
			<td>
				{{ trade.trade.participants[0].user.biz_name }}
			</td>
			<td>
				{{ trade.trade.participants[0].total_qty }} {{ trade.trade.participants[0].item.name }}
			</td>
			
			{% if not trade.trade.close_date %}
					<td> 
						Yes
					</td>
					<td>
						<a href="/close_trade/{{ trade.trade.id }}" class="btn btn-info">
							Mark as complete
						</a>
					</td>
				</tr>
			{% else %}
					<td> 
						No
					</td>
				</tr>
			{% endif %}

		{% endfor %}
{% endblock %}